{% load i18n %}
<style type="text/css">
table.serverstatus {
border-width: 2px;
border-spacing: 2px;
border-style: outset;
border-color: gray;
border-collapse: collapse;
background-color: white;
width: 100%;
}
table.serverstatus th {
font-size: 12px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000;
}
table.serverstatus tr.even {
background: #CCCCCC;
}
table.serverstatus tr.odd {
background: #F0F0F0
}
	
</style>
<script>
	$(document).ready(function() {
        $('#responsedata').dataTable();
    });
</script>


<h3><b><font color="#000000"> {% trans 'Response from'%} <font color="#FA7B01"> {{agent}} - {{action}}</font></b></h3>
<br/>
<div>
	<table id="responsedata" class="serverstatus">
		<thead>
			<th>{% trans 'Target Server'%}</th>
			<th>{% trans 'Command Status'%}</th>
			<th>{% trans 'Application Status'%}</th>
			<th>{% trans 'Remarks'%}</th>
		</thead>
			
		<tbody>
				
{% for resp in content %}
		<tr>
			<td>
				<b>{{resp.sender}}</b>
			</td>
			<td>
				{% if resp.statuscode == 0 %}
				<img src="{{settings.STATIC_URL}}images/icons/ok.png" style="height: 16px;"/>{{resp.statusmsg}}
				{% else %}
				<img src="{{settings.STATIC_URL}}images/icons/ko.png" style="height: 16px;"/>{{resp.statusmsg}}
				{% endif %}
			</td> 
			<td>
				{% if resp.data.status == 'Running' or resp.data.status == 'Started' %}
				 <img src="{{settings.STATIC_URL}}images/icons/online.png" style="height: 16px;"/>  {{resp.data.msg}}
				 {% else %}
				      {% if resp.data.status == 'Stopped' or resp.data.status == 'Failed' %}
				        <img src="{{settings.STATIC_URL}}images/icons/offline.png" style="height: 16px;"/>  {{resp.data.msg}}
				      {% else %}
				        <img src="{{settings.STATIC_URL}}images/icons/Server_down_16.png" style="height: 16px;"/>  {{resp.data.msg}}
				      {% endif %}
					
				 {% endif %}
			</td>
			<td>
				 {{resp.data.status}}
<!--				{% for content,data in resp.data.items %}
				 	{{resp}}
				 	{{resp.data.status}}
					{% for key,value in outputs.items %}
					 {% if key == content %}
					 	<b>{{value}}</b>: {{data}} <br>
					 {% endif %} 
					{% endfor%}
				{% endfor %}	
-->
			</td>
		</tr>
{% endfor %}
		</tbody>
	</table>
</div>
